<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title -->
    <title>The Weather App</title>
    
    <!-- External CSS Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <span style="padding-right: 10px; padding-bottom: 10px;">Dark Mode</span> 
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
        <span style="padding-left: 10px; padding-bottom: 10px;">Light Mode</span> 
    </header>
    
