<%- include('partials/header') %>

<main>
    <!-- Error Message -->
    <h1 class="display-4">Error</h1>
    <div class="alert alert-danger">
        <p><%= error %></p>
    </div>

    <!-- Back Button -->
    <button onclick="location.href='/'">Go Back</button>
</main>

<%- include('partials/footer') %>
